.searchArea {
  display: inline-block;
}

.searchArea input {
  width: 40vw;
  height: 8vh;
  margin: 0 150px 0 150px;
  border-radius: 30px;
  outline: none;
  font-size: 1rem;
  align-items: center;
}

.searchArea button {
  width: 18vw;
  height: 8vh;
  border-radius: 30px;
  outline: none;
  background-color: rgb(41, 53, 218);
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
